<h1 id="welcome_heading">Welcome!</h1>
<div class="links">
  <%= link_to "View our courses", controller: "courses", action: "index"%><br><br><br>
  <%= link_to "Get to know our Professors", controller: "professors", action: "index"%><br><br><br>
  <%= link_to "Student profile", controller: "students", action: "index"%><br><br><br>
</div>
<br><br><br>